/*****************************************************************************
 * MIXINS
 *****************************************************************************
 */

@mixin headings {
  h1, h2, h3, h4, h5, h6 {
    @content;
  }
}

@mixin bg-inactive ($color) {
  color: rgba(theme-color($color), 1) !important;
  border: 1px solid rgba(theme-color($color), 0.15) !important;
  background-color: rgba(theme-color($color), 0.10) !important;
}

@mixin bg-active ($color) {
  border: 1px solid rgba(theme-color($color), 1) !important;
  background-color: rgba(theme-color($color), 0.5) !important;
  color: rgba(theme-color-level($color, -3), 1) !important;
}

@mixin blockquote-variant($bg, $border) {
  background-color: rgba($bg, 0.05) !important;
  border: 1px solid rgba($border, 0.15) !important;
  border-left: 3px solid rgba($border, 0.5) !important;
}

/*****************************************************************************
 * BOOTSTRAP OVERRIDES
 *****************************************************************************
 */

// Generate `.bg-*` color utilities
@each $color, $value in $theme-colors {
  @include bg-variant('.bg-#{$color}', rgba($value, 0.10));
}

@include bg-variant('.bg-secondary', rgba(theme-color("light"), 0.05));
@include bg-variant('.bg-dark', rgba($black, 0.10));


// Generate `.badge-*` color utilities
@each $color, $value in $theme-colors {
  .badge-#{$color} {
    @include badge-variant(rgba($value, 0.10));

    font-family: $font-family-monospace;
    font-size: small;

    color: theme-color-level($color, -5);
    border: 1px solid rgba($value, 0.15);

    &:hover, &:focus {
      transition: color .5s, background-color .5s;
      color: theme-color-level($color, -7) !important;
      background-color: rgba($value, 0.25) !important;
    }
  }
}

.badge-dark {
  @include badge-variant(rgba($black, 0.25));

  color: theme-color-level("dark", -5);
  border: 1px solid rgba($white, 0.15);

  &:hover, &:focus {
    transition: color .5s, background-color .5s;
    color: theme-color-level("dark", -7) !important;
    background-color: rgba($black, 0.15) !important;
  }
}


// Generate `.alert-*` color utilities
@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(rgba($value, 0.10), rgba($value, 0.15), theme-color-level($color, -5));

    @include headings {
      color: theme-color-level($color, -5);
    }

    .alert-link {
      color: lighten($value, 25%);
    }
  }
}

.alert-secondary {
  @include alert-variant(rgba(theme-color("light"), 0.05), rgba(theme-color("light"), 0.10), theme-color-level("light", 2));
}

.alert-dark {
  @include alert-variant(rgba($black, 0.15), rgba(theme-color("light"), 0.10), theme-color-level("light", 5));
}

// Generate `.blockquote-*` color utilities
@each $color, $value in $theme-colors {
  .blockquote-#{$color} {
    @include blockquote-variant($value, $value);

    @include headings {
      color: theme-color-level($color, -5) !important;
    }
  }
}

/*****************************************************************************
 * GLOBAL
 *****************************************************************************
 */
strong {
   color: $gray-100;
}

code {
  font-family: $font-family-monospace !important;

  color: $gray-200;
  padding: 0.4rem;
  margin: 0.2rem;
  border-radius: .2rem;
  background-color: rgba($gray-900, 0.7);
}

/*****************************************************************************
 * MAIN
 *****************************************************************************
 */

html,
body {
  height: 100vh;
  width: 100vw;
  word-wrap: break-word;
}

.inner-shadow {
  min-height: 100vh;
  overflow-y: scroll;
  box-shadow: inset 0 0 7rem rgba(0, 0, 0, 0.5);
  z-index: 100;
}

header {
  border-top: 3px solid theme-color("accent");
  border-bottom: 1px solid rgba(theme-color("accent"), 0.15);
  background-color: rgba(theme-color("accent"), 0.05);

  .navbar {
    max-width: $max-width;

    a {
      color: $gray-200;

      &:hover {
        color: theme-color("accent");
      }
    }
  }

  navbar-nav a {
    &:hover {
      color: theme-color("accent") !important;
    }

    // TODO: active state
    &:active {
      color: black !important;
    }
  }
}

.content {
  hr {
    background-color: rgba(theme-color("light"), 0.25);
    border-bottom: 1px solid rgba($black, 0.5);
  }

  // default style for blockquote
  blockquote {
    background-color: rgba(theme-color("light"), 0.05);
    border-top: 1px solid rgba(theme-color("light"), 0.1);
    border-right: 1px solid rgba(theme-color("light"), 0.1);
    border-bottom: 1px solid rgba(theme-color("light"), 0.1);
    border-left: 3px solid rgba(theme-color("accent"), 0.25);

    border-radius: 0.25rem;
    padding: 1rem;

    @include headings {
      color: theme-color-level("light", -7);
      margin: 0 0 0.5rem 0.5rem;
    }

    p {
      margin: 0 0 0 0.5rem !important;
    }
  }
}

footer {
  height: 6rem;
  border-top: 1px solid rgba(theme-color("accent"), 0.15);
  border-bottom: 1px solid theme-color("accent");
  background-color: rgba(theme-color("accent"), 0.05);
}

/*****************************************************************************
 * HOME
 *****************************************************************************
 */
.intro {

  &:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 3%;
    background-attachment: fixed;
    background-image: url("/images/chalkboard.jpg");
    background-position: center center;
    background-size: cover;
  }

  > img {
    width: 100%;
    height: 100%;
    display: block;
    filter: opacity(15%);
    position: absolute;
    object-fit: cover;
  }

  .carousel-caption {
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    background-color: rgba($black, 0.15);
  }

  .arrow-left, .arrow-right {
    color: rgba(theme-color("accent"), 0.5) !important;
    font-size: 2rem;

    &:hover, &:focus {
      transition: color .5s;
      color: rgba(theme-color("accent"), 1) !important;
    }
  }

  .carousel-indicators {
    li {
      background-color: rgba(theme-color("accent"), 0.25);

    }

    .active {
      background-color: rgba(theme-color("accent"), 1);
    }
  }
}

/*****************************************************************************
 * CONTENT
 *****************************************************************************
 */

.container {
  max-width: $max-width;
}

.container > {

  @include headings {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
  }
}

.pagination {
  .page-item .page-link {
    border: 1px solid rgba(theme-color("accent"), 0.15);
    background-color: rgba(theme-color("accent"), 0.10);

    &:hover, &:focus {
      border: 1px solid rgba(theme-color("accent"), 1);
      background-color: rgba(theme-color("accent"), 0.5);
      color: rgba(theme-color-level("accent", -3), 1);
      transition: background-color 1s ,color 1s, border 1s;
    }

  }

  .page-item.disabled .page-link  {
    border: 1px solid rgba(theme-color("accent"), 0.10);
    background-color: rgba(theme-color("accent"), 0);
    color: rgba(theme-color("accent"), 0.50);
  }

  .page-item.active .page-link  {
    border: 1px solid rgba(theme-color("accent"), 0);
    background-color: rgba(theme-color("accent"), 0.5);
    color: theme-color("accent");
  }
}

/*****************************************************************************
 * CODEBLOCK
 *****************************************************************************
 */

.highlight {

  max-width: 90vw;
  padding: 1rem;

  pre {
    padding: 1rem;
    border-radius: .3rem;
    border: 1px solid rgba(theme-color("accent"), 0.15);
    background-color: rgba(theme-color-level("accent", 12), 0.25) !important;
  }

  code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: $font-family-monospace;
    background: 0 0;
    border: 0;
    white-space: pre;
    overflow-x: scroll;
  }
}

/*****************************************************************************
 * MEDIA
 *****************************************************************************
 */
@include media-breakpoint-up(sm) {
  .container {
    min-width: 768px;
    max-width: $max-width;
  }
}


/*****************************************************************************
 * TIMELINE
 *****************************************************************************
 */

@mixin event-content-variant($background, $border, $color) {
  color: $color;
  background-color: $background;
  border-color: $border;

  hr {
    border-top-color: darken($border, 5%);
  }

  .alert-link {
    color: darken($color, 10%);
  }

}

// Generate `.event-content-*` color utilities
@each $color, $value in $theme-colors {
  .event-content-#{$color} {
    @include event-content-variant(rgba($value, 0.10), rgba($value, 0.15), theme-color-level($color, -5));

    @include headings {
      color: theme-color-level($color, -5);
    }

    .event-link {
      color: lighten($value, 25%);
    }

    &:before,&:after {
      border-top: 0.1rem solid rgba($value, 0.20) !important;
      border-right: 0.1rem solid rgba($value, 0.20) !important;
      background: linear-gradient(to top right, transparent 0%, transparent 50%, rgba(theme-color-level($color, 7), 0.5) 50% 56%, rgba($value, 0.1) 56% 100%) !important;
    }

  }
}

.main-timeline {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  position: relative;

  &:before {
    content: "";
    display: flex;
    width: 0.2rem;
    height: 100%;
    background: rgba(theme-color("accent"), 0.35);
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .event  {
    display: flex;
    flex-direction: row;

    margin-bottom: 2rem;
    // position: relative;
    width: 100%;
    height: 100%;

    /*
     * &:after {
     *   content: "";
     *   display: block;
     *   clear: both;
     * }
     */

    &:nth-child(2n) {
      flex-direction: row-reverse;

      .event-details {
        float: right;
        position: relative;
        right: 0;
        text-align: left;
      }

      .event-date {
        flex-direction: row !important;
      }

      .event-metadata {
        flex-direction: row !important;

        .event-section {
          margin-right: 0.5rem;
        }
      }

      .event-container {
        float: left;
        left: 0;

        .event-content {
          padding: 0;

          /* corner */
          &:before {
            display: none;
          }

          &:after {
            display: block;
            float: right;
            transform: rotate(45deg);
            right: 2.5rem;
          }

          .event-title {
            margin: 1rem;
          }

        }
      }
    }

    .event-container {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 30%;
      padding: 0 3rem;

      .event-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 1.5rem;
        padding: 0;
        border-style: solid;
        border-width: 0.1rem;
        border-radius: 0.25rem;

        /* event-content corner */
        &:before,&:after {
          content: "";
          position: absolute;
          width: 1rem;
          height: 1rem;
          top: 3rem;
          border-top: 0.1rem solid rgba(theme-color("accent"), 0.25);
          border-right: 0.1rem solid rgba(theme-color("accent"), 0.25);
          background: linear-gradient(to top right, transparent 0%, transparent 50%, rgba(theme-color("accent"), 0.2) 50% 55%, rgba(theme-color("accent"), 0.15) 55%, rgba(theme-color("accent"), 0.15) 100%);
        }

        &:before {
          display: block;
          transform: rotate(-135deg);
          left: 2.5rem;
        }

        &:after {
          display: none;
        }

        &:hover {
          .event-image {
            z-index: 0;
          }
        }

        .event-title {
          display: block;
          position: relative;
          margin: 1rem;

          h5 {
            margin-bottom: 0;
          }
        }

        .event-separator {
          hr {
            margin: 0;
          }
        }

        .event-image {
          display: block;
          // flex-direction: row;
          position: relative;
          height: 100%;
          width: 100%;
          z-index: -1;

          img {
            max-height: 100%;
            max-width: 100%;
          }
        }

        .event-description {
          display: block;
          padding: 1rem;
        }

      }
    }

    .event-details {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 50%;

      .event-date {
        font-size: 2rem;
        display: flex;
        flex-direction: row-reverse;
        height: 2rem;
        margin-bottom: 1rem;
        padding: 0.6rem;
        position: relative;
        width: 100%;

        span {
          border-bottom: 0.2rem solid rgba(theme-color("accent"), 0.5) !important;
          height: 3rem;
          padding: 0 2rem;
          // left: -1rem;
          z-index: -1;
        }

        /*
         * &:after {
         *   content: "";
         *   display: block;
         *   position: absolute;
         *   width: 50%;
         *   height: 0.2rem;
         *   // top: 0;
         *   bottom: -1.7rem;
         *   left: 0;
         *   float: left;
         *   z-index: -1;
         *   background: rgba(theme-color("accent"), 0.5);
         *   // border-bottom: 0.2rem solid theme-color("accent");
         * }
         */

      }

      .event-metadata {
        display: flex;
        flex-direction: row-reverse;
        padding: 1rem 2rem;

        /*
         * &:before {
         *   content: "";
         *   width: 100%;
         *   height: 0.3rem;
         *   position: static;
         *   top: -2px;
         *   display: block;
         *   background: rgba(theme-color("accent"), 0.50);
         * }
         */

        .event-tags {
          display: block;
          position: relative;
        }

        .event-section {
          display: block;
          position: relative;
          margin-left: 0.5rem;
        }
      }

    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 3rem;
      height: 3rem;
      // line-height: 2rem;
      margin: auto;
      margin-top: 2rem;
      position: absolute;
      // top: 0;
      left: 0;
      // bottom: 0;
      right: 0;
      background: theme-color("dark");
      border-radius: 50%;

      &:before,&:after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: absolute;
        // top: 0;
        // left: 0;
        transition: all 0.33s ease-out 1s;
        background: rgba(theme-color("accent"), 0.15);
        border: 0.2rem solid rgba(theme-color("accent"), 0.15);
      }

      i:hover {
        // content: "";
        // width: 100%;
        // height: 100%;
        // border-radius: 50%;
        position: absolute;
        // top: 0;
        // left: 0;
        transition: all 0.33s ease-out 1s !important;
        // background: rgba(theme-color("accent"), 0.15);
        // border: 0.2rem solid rgba(theme-color("accent"), 0.15);
      }

    }
  }

}
