/*****************************************************************************
 * MIXINS
 *****************************************************************************
 */

@mixin headings {
  h1, h2, h3, h4, h5, h6 {
    @content;
  }
}

@mixin bg-inactive ($color) {
  color: rgba(theme-color($color), 1) !important;
  border: 1px solid rgba(theme-color($color), 0.15) !important;
  background-color: rgba(theme-color($color), 0.10) !important;
}

@mixin bg-active ($color) {
  border: 1px solid rgba(theme-color($color), 1) !important;
  background-color: rgba(theme-color($color), 0.5) !important;
  color: rgba(theme-color-level($color, -3), 1) !important;
}

@mixin blockquote-variant($bg, $border) {
  background-color: rgba($bg, 0.05) !important;
  border: 1px solid rgba($border, 0.15) !important;
  border-left: 3px solid rgba($border, 0.5) !important;
}

/*****************************************************************************
 * BOOTSTRAP OVERRIDES
 *****************************************************************************
 */

// Generate `.bg-*` color utilities
@each $color, $value in $theme-colors {
  @include bg-variant('.bg-#{$color}', rgba($value, 0.10));
}

@include bg-variant('.bg-secondary', rgba(theme-color("light"), 0.05));
@include bg-variant('.bg-dark', rgba($black, 0.10));


// Generate `.badge-*` color utilities
@each $color, $value in $theme-colors {
  .badge-#{$color} {
    @include badge-variant(rgba($value, 0.10));

    font-family: $font-family-monospace;
    font-size: small;

    color: theme-color-level($color, -5);
    border: 1px solid rgba($value, 0.15);

    &:hover, &:focus {
      transition: color .5s, background-color .5s;
      color: theme-color-level($color, -7) !important;
      background-color: rgba($value, 0.25) !important;
    }
  }
}

.badge-dark {
  @include badge-variant(rgba($black, 0.25));

  color: theme-color-level("dark", -5);
  border: 1px solid rgba($white, 0.15);

  &:hover, &:focus {
    transition: color .5s, background-color .5s;
    color: theme-color-level("dark", -7) !important;
    background-color: rgba($black, 0.15) !important;
  }
}


// Generate `.alert-*` color utilities
@each $color, $value in $theme-colors {
  .alert-#{$color} {
    @include alert-variant(rgba($value, 0.10), rgba($value, 0.15), theme-color-level($color, -5));

    @include headings {
      color: theme-color-level($color, -5);
    }

    .alert-link {
      color: lighten($value, 25%);
    }
  }
}

.alert-secondary {
  @include alert-variant(rgba(theme-color("light"), 0.05), rgba(theme-color("light"), 0.10), theme-color-level("light", 2));
}

.alert-dark {
  @include alert-variant(rgba($black, 0.15), rgba(theme-color("light"), 0.10), theme-color-level("light", 5));
}

// Generate `.blockquote-*` color utilities
@each $color, $value in $theme-colors {
  .blockquote-#{$color} {
    @include blockquote-variant($value, $value);

    @include headings {
      color: theme-color-level($color, -5) !important;
    }
  }
}

/*****************************************************************************
 * GLOBAL
 *****************************************************************************
 */
strong {
   color: $gray-100;
}

code {
  font-family: $font-family-monospace !important;

  color: $gray-200;
  padding: 0.4rem;
  margin: 0.2rem;
  border-radius: .2rem;
  background-color: rgba($gray-900, 0.7);
}

/*****************************************************************************
 * MAIN
 *****************************************************************************
 */

html,
body {
  height: 100vh;
  width: 100vw;
  word-wrap: break-word;
}

.inner-shadow {
  min-height: 100vh;
  overflow-y: scroll;
  box-shadow: inset 0 0 7rem rgba(0, 0, 0, 0.5);
  z-index: 100;
}

header {
  border-top: 3px solid theme-color("accent");
  border-bottom: 1px solid rgba(theme-color("accent"), 0.15);
  background-color: rgba(theme-color("accent"), 0.05);

  .navbar {
    max-width: $max-width;

    a {
      color: $gray-200;

      &:hover {
        color: theme-color("accent");
      }
    }
  }

  navbar-nav a {
    &:hover {
      color: theme-color("accent") !important;
    }

    // TODO: active state
    &:active {
      color: black !important;
    }
  }
}

.content {
  hr {
    background-color: rgba(theme-color("light"), 0.25);
    border-bottom: 1px solid rgba($black, 0.5);
  }

  // default style for blockquote
  blockquote {
    background-color: rgba(theme-color("light"), 0.05);
    border-top: 1px solid rgba(theme-color("light"), 0.1);
    border-right: 1px solid rgba(theme-color("light"), 0.1);
    border-bottom: 1px solid rgba(theme-color("light"), 0.1);
    border-left: 3px solid rgba(theme-color("accent"), 0.25);

    border-radius: 0.25rem;
    padding: 1rem;

    @include headings {
      color: theme-color-level("light", -7);
      margin: 0 0 0.5rem 0.5rem;
    }

    p {
      margin: 0 0 0 0.5rem !important;
    }
  }
}

footer {
  height: 6rem;
  border-top: 1px solid rgba(theme-color("accent"), 0.15);
  border-bottom: 1px solid theme-color("accent");
  background-color: rgba(theme-color("accent"), 0.05);
}

/*****************************************************************************
 * CAROUSEL
 *****************************************************************************
 */
.intro {

  .carousel-caption {
    left: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    background-color: rgba($black, 0.15);
  }

  .arrow-left, .arrow-right {
    color: rgba(theme-color("accent"), 0.5) !important;
    font-size: 2rem;

    &:hover, &:focus {
      transition: color .5s;
      color: rgba(theme-color("accent"), 1) !important;
    }
  }

  .carousel-indicators {
    li {
      background-color: rgba(theme-color("accent"), 0.25);

    }

    .active {
      background-color: rgba(theme-color("accent"), 1);
    }
  }
}

/*****************************************************************************
 * CONTENT
 *****************************************************************************
 */

.main {
  width: 100%;

  &:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    opacity: $theme-bg-opacity;
    background-attachment: fixed;
    background-image: url($theme-bg-path);
    background-position: center center;
    background-size: cover;
    z-index: -1;
  }

}

.container {
  max-width: $max-width;
}

.container > {

  @include headings {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
  }
}

.pagination {
  .page-item .page-link {
    border: 1px solid rgba(theme-color("accent"), 0.15);
    background-color: rgba(theme-color("accent"), 0.10);

    &:hover, &:focus {
      border: 1px solid rgba(theme-color("accent"), 1);
      background-color: rgba(theme-color("accent"), 0.5);
      color: rgba(theme-color-level("accent", -3), 1);
      transition: background-color 1s ,color 1s, border 1s;
    }

  }

  .page-item.disabled .page-link  {
    border: 1px solid rgba(theme-color("accent"), 0.10);
    background-color: rgba(theme-color("accent"), 0);
    color: rgba(theme-color("accent"), 0.50);
  }

  .page-item.active .page-link  {
    border: 1px solid rgba(theme-color("accent"), 0);
    background-color: rgba(theme-color("accent"), 0.5);
    color: theme-color("accent");
  }
}

/*****************************************************************************
 * CODEBLOCK
 *****************************************************************************
 */

.highlight {

  max-width: 90vw;
  padding: 1rem;

  pre {
    padding: 1rem;
    border-radius: .3rem;
    border: 1px solid rgba(theme-color("accent"), 0.15);
    background-color: rgba(theme-color-level("accent", 12), 0.25) !important;
  }

  code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: $font-family-monospace;
    background: 0 0;
    border: 0;
    white-space: pre;
    overflow-x: scroll;
  }
}

/*****************************************************************************
 * MEDIA
 *****************************************************************************
 */
@include media-breakpoint-up(sm) {
  .container {
    min-width: 768px;
    max-width: $max-width;
  }
}
