/*****************************************************************************
 * TIMELINE
 *****************************************************************************
 */

@mixin event-content-variant($background, $border, $color) {
  color: $color;
  background-color: $background;
  border-color: $border;

  hr {
    border-top-color: darken($border, 5%);
  }

  .alert-link {
    color: darken($color, 10%);
  }

}

// Generate `.event-content-*` color utilities
@each $color, $value in $theme-colors {
  .event-content-#{$color} {
    @include event-content-variant(rgba($value, 0.10), rgba($value, 0.15), theme-color-level($color, -5));

    @include headings {
      color: theme-color-level($color, -5);
    }

    .event-link {
      color: lighten($value, 25%);
    }

    &:before,&:after {
      border-top: 0.1rem solid rgba($value, 0.20) !important;
      border-right: 0.1rem solid rgba($value, 0.20) !important;
      background: linear-gradient(to top right, transparent 0%, transparent 50%, rgba(theme-color($color), 0.20) 50% 56%, rgba($value, 0.1) 56% 100%) !important;
    }

  }
}

.main-timeline {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  position: relative;
  height: 100%;
  width: 100%;
  align-items: stretch;

  &:before {
    content: "";
    display: flex;
    width: 0.2rem;
    height: 100%;
    background: rgba(theme-color("accent"), 0.35);
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .event  {
    display: flex;
    flex-direction: row;

    margin-bottom: 2rem;
    // position: relative;
    width: 100%;
    height: 100%;


    &:nth-child(2n) {
      flex-direction: row-reverse;

      .event-details {
        float: right;
        position: relative;
        right: 0;
        text-align: left;
      }

      .event-date {
        flex-direction: row !important;
      }

      .event-metadata {
        flex-direction: column;
        align-items: flex-start !important;

        .event-last-modified,.event-categories,.event-tags,.event-translations {
          &:before {
            display: inline-block !important;
          }
          &:after {
            display: none !important;
          }
        }

        .event-tags {
          text-align: left !important;
        }
      }

      .event-container {
        float: left;
        left: 0;

        .event-content {
          padding: 0;

          /* corner */
          &:before {
            display: none;
          }

          &:after {
            display: block;
            float: right;
            transform: rotate(45deg);
            right: 2rem;
          }

          .event-title {
            margin: 1rem;
          }

        }
      }
    }

    .event-container {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 30%;
      padding: 0 3rem;

      .event-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 1.5rem;
        padding: 0;
        border-style: solid;
        border-width: 0.1rem;
        border-radius: 0.25rem;

        /* event-content corner */
        &:before,&:after {
          content: "";
          position: absolute;
          width: 1rem;
          height: 1rem;
          top: 3rem;
          border-top: 0.1rem solid rgba(theme-color("accent"), 0.25);
          border-right: 0.1rem solid rgba(theme-color("accent"), 0.25);
          background: linear-gradient(to top right, transparent 0%, transparent 50%, rgba(theme-color("accent"), 1) 50% 55%, rgba(theme-color("accent"), 0.15) 55% 100%);
        }

        &:before {
          display: block;
          transform: rotate(-135deg);
          left: 2rem;
        }

        &:after {
          display: none;
        }

        &:hover {
          .event-image {
            z-index: 0;
          }
        }

        .event-title {
          display: block;
          position: relative;
          margin: 1rem;

          h5 {
            margin-bottom: 0;
          }
        }

        .event-separator {
          hr {
            margin: 0;
          }
        }

        .event-image {
          display: block;
          position: relative;
          height: 100%;
          width: 100%;
          z-index: -1;

          img {
            max-height: 100%;
            max-width: 100%;
            width: 100%;
          }
        }

        .event-description {
          display: block;
          padding: 1rem;

          .highlight {
            padding: 0;
            margin: 0;

            pre {
              margin: 0;

              code {
                padding: 0;
                margin: 0;
              }
            }
          }
        }

      }
    }

    .event-details {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 50%;

      .event-date {
        font-size: 2rem;
        display: flex;
        flex-direction: row-reverse;
        height: 2rem;
        margin-bottom: 1rem;
        padding: 0.6rem;
        position: relative;
        width: 100%;

        span {
          border-bottom: 0.2rem solid rgba(theme-color("accent"), 0.5) !important;
          height: 3rem;
          padding: 0 2rem;
          z-index: -1;
        }

      }

      .event-metadata {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 1rem 2rem;

        .event-last-modified {
          display: block;
          position: relative;
          text-align: right;

          &:before,&:after {
            font-family: "Font Awesome 5 Free";
            content: "\f044";
            display: inline-block;
            margin: 0 0.2rem;
            text-align: center;
            vertical-align: top;
            font-weight: 900;
            width: 2rem;
            height: 1rem;
            color: theme-color("secondary");
          }

          &:before {
            display: none;
          }
        }

        .event-tags {
          display: block;
          position: relative;
          text-align: right;

          &:before,&:after {
            font-family: "Font Awesome 5 Free";
            content: "\f292";
            display: inline-block;
            margin: 0 0.2rem;
            text-align: center;
            vertical-align: top;
            font-weight: 900;
            width: 2rem;
            height: 1rem;
            color: theme-color("secondary");
          }

          &:before {
            display: none;
          }
        }

        .event-categories  {
          &:before,&:after {
            font-family: "Font Awesome 5 Free";
            content: "\f0e8";
            display: inline-block;
            margin: 0 0.2rem;
            text-align: center;
            font-weight: 900;
            width: 2rem;
            height: 1rem;
            color: theme-color("secondary");
          }

          &:before {
            display: none;
          }
        }

        .event-translations  {
          &:before,&:after {
            font-family: "Font Awesome 5 Free";
            content: "\f1ab";
            display: inline-block;
            margin: 0 0.2rem;
            text-align: center;
            font-weight: 900;
            width: 2rem;
            height: 1rem;
            color: theme-color("secondary");
          }

          &:before {
            display: none;
          }
        }
      }

    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 3rem;
      height: 3rem;
      // line-height: 2rem;
      margin: auto;
      margin-top: 2rem;
      position: absolute;
      // top: 0;
      left: 0;
      // bottom: 0;
      right: 0;
      background: theme-color("dark");
      border-radius: 50%;

      &:before,&:after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: absolute;
        // top: 0;
        // left: 0;
        transition: all 0.33s ease-out 1s;
        background: rgba(theme-color("accent"), 0.15);
        border: 0.2rem solid rgba(theme-color("accent"), 0.15);
      }

      i:hover {
        // content: "";
        // width: 100%;
        // height: 100%;
        // border-radius: 50%;
        position: absolute;
        // top: 0;
        // left: 0;
        transition: all 0.33s ease-out 1s !important;
        // background: rgba(theme-color("accent"), 0.15);
        // border: 0.2rem solid rgba(theme-color("accent"), 0.15);
      }

    }
  }

}

@include media-breakpoint-down(xs) {
  .main {
    // padding-left: 1.5rem;
  }

  .main-timeline {
    padding: 1rem;

    &:before {
      left: 0.45rem;
      margin: 0;
      padding: 0;
    }

    .event {
      width: 100%;
      margin-top: 2rem;
      flex-direction: column;

      &:nth-child(2n) {
        flex-direction: column;

        .event-details {
          .event-date {
            flex-direction: row;
          }
        }

        .event-container {
          width: 100%;

          .event-content {
            text-align: left;

            &:before,&:after {
              display: none;
            }
          }
        }
      }

      .icon {
        margin: 0;
        left: -1rem;
      }

      .event-details {
        width: 100%;
        top: -2rem;

        .event-date {
          flex-direction: row;

          span {
            padding: 0 0.5rem !important;
          }
        }

        .event-metadata {
          flex-direction: column;
          align-items: flex-start;
          margin: 0 0.5rem 0 1rem;
          padding: 1rem 0 0 0;

          .event-tags,.event-categories,.event-last-modified,.event-translations {
            text-align: left !important;

            &:before {
              display: inline-block !important;
            }
            &:after {
              display: none !important;
            }

          }

        }
      }

      .event-container {
        width: 100%;
        padding: 0 0.2rem 0 1rem !important;
        top: -1.5rem;

        .event-content {
          width: 100% !important;
          padding: 0;
          margin: 0;
          text-align: left;

          &:before,&:after {
            display: none;
          }

          .event-title {}
        }

        .event-separator {}

        .event-description {}
      }
    }
  }
}

@include media-breakpoint-between(sm, md) {
  .main-timeline {
    padding: 2rem !important;

    &:before {
      left: 0 !important;
    }

    .event {
      &:nth-child(2n) {
        .event-container {
          .event-content {
            width: 100% !important;
          }
        }
      }
    }
  }
}

@include media-breakpoint-between(sm, xl) {
  .main-timeline {
    padding: 2rem;
    max-width: $max-width;
    margin: 0 auto;

    &:before {
      margin: 0 auto !important;
    }

    .event {
      &:nth-child(2n) {
        .event-container {
          width: 50%;
          padding-left: 0 !important;
          padding-right: 3rem;
        }

      }

      .event-container {
        width: 50%;
        padding-right: 0;
      }
    }
  }
}

/* iPad Pro */
@media (width: 1366px) {
  .main-timeline {
    .event {
      &:nth-child(2n) {
        .event-container {
          width: 40%;
          padding-left: 0 !important;
          padding-right: 3rem;
        }
      }

      .event-container {
        width: 40%;
        padding-right: 0;
      }
    }
  }
}

/*****************************************************************************
 * FILTER
 *****************************************************************************
 */

.btn-filter {
  background-color: theme-color("body-bg");
  border-radius: 0 0 0.5rem 0.5rem;
  // bottom: 0;
  display: block;
  height: 3rem;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 4.2rem;
  width: 3rem;
  z-index: 100;
	// text-align: center center;
  // border: 1px solid rgba(theme-color("danger"), 0.25);

  button {
    background-color: rgba(theme-color("accent"), 0.05);
    border-radius: 0 0 0.5rem 0.5rem;
    border-top: none !important;
    border: 1px solid rgba(theme-color("accent"), 0.25);
    color: theme-color("accent");
    height: 100%;
    padding-top: 5px;
    text-align: center;
    z-index: 100;
    transition: all 0.5s ease-out !important;

    &:hover {
      transition: all 0.5s ease-out;
      color: theme-color-level("accent", -7);
    }
  }

}

@include media-breakpoint-down(sm) {
  .btn-filter {
    border-radius: 0.5rem 0 0 0.5rem;
    margin-right: 0;
    top: 0.7rem;
    mix-blend-mode: overlay;
    position: fixed;

    button {
      border-radius: 0.5rem 0 0 0.5rem;
      border: 1px solid rgba(theme-color("accent"), 0.15) !important;
      background-color: rgba(theme-color("accent"), 0.05);
      color: theme-color-level("accent", -7);
      vertical-align: center;
    }
  }
}

#filterModal {

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .modal-dialog {
    .modal-content {
      background-color: rgba(theme-color("body-bg"), 0.90);
      border-color: rgba(theme-color("light"), 0.15);

      .modal-header {
        border-bottom: 0.1rem solid rgba(theme-color("light"), 0.15);

        h3 {
          // color: theme-color("");
        }

        button span {
          color: theme-color("light");
        }
      }

      .modal-body {
        .terms a {
            margin: 0 0.1rem 0.3rem 0;
        }
      }

      .modal-footer {
        border-top: 0.1rem solid rgba(theme-color("light"), 0.15);

      }
    }

  }
}
