<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

        <title>{{- block "title" . }}{{ .Site.Title }}{{ end -}}</title>

        {{ partial "css" . }}
        {{ partial "js" . }}

    </head>

    <body>
        <div class="inner-shadow d-flex flex-column position-fixed w-100 h-100">

            <main aria-role="main" class="main d-flex flex-column flex-grow-1 flex-shrink-0 w-100 mx-auto my-auto">
                <button type="button" class="btn btn-dark btn-gallery-back" onclick="window.history.back()">
                    <i class="fa fa-undo"></i>
                </button>
                {{ block "main" . }}
                {{ end }}
            </main>

        </div>
    </body>
</html>
