<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

        <title>{{- block "title" . }}{{ .Site.Title }}{{ end -}}</title>

        {{- if .Site.Params.favicon | default false -}}
            {{- partial "favicon"}}
        {{ end }}

        {{ partial "css" . }}
        {{ partial "js" . }}

        <!--
           - {{- with .OutputFormats.Get "RSS" }}
           -     {{- .RelPermalink }}
           - {{- end }}
           -->

    </head>

    <body>
        <div class="inner-shadow d-flex flex-column position-fixed w-100 h-100">
            <header class="header w-100">
                {{ block "header" . }}
                <nav class="navbar navbar-dark navbar-expand-md mx-auto">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-main" aria-controls="nav-main" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="nav-brand justify-content-left">
                        <ul class="nav navbar-nav">
                            <li class="navbar-item m-1">
                                <a class="nav-link" href="{{ .URL | absLangURL }}">
                                    <i class="fas fa-chevron-right"></i>
                                    {{ .Site.Title }}
                                </a>
                            </li>
                        <ul>
                    </div>

                    <div class="collapse navbar-collapse justify-content-center" id="nav-main">
                        {{ if .Site.Menus.main }}
                        <ul class="nav navbar-nav">
                            {{ range sort .Site.Menus.main }}
                            <li class="navbar-item m-1">
                                <a class="nav-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
                            </li>
                            {{ end }}
                        </ul>
                        {{ end }}

                        <div class="dropdown-divider"></div>
                    </div>

                    <div class="justify-content-right text-center">
                    {{ if .Site.IsMultiLingual }}
                        {{ $siteLanguages := .Site.Languages}}
                        {{ $pageLang := .Page.Lang}}
                        {{ range .Page.AllTranslations }}
                            {{ $translation := .}}
                            {{ range $siteLanguages }}
                                {{ if eq $translation.Lang .Lang }}
                                    {{ $selected := false }}
                                    {{ if eq $pageLang .Lang}}
                                        <!--a class="dropdown-item" href="{{ $translation.URL }}">{{ .LanguageName }}</a-->
                                    {{ else }}
                                        <ul class="nav navbar-nav">
                                            <li class="navbar-nav m-1">
                                                <a class="nav-link" href="{{ $translation.URL }}">{{ .LanguageName }}</a>
                                            </li>
                                        </ul>
                                    {{ end }}
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                    </div>

                {{ end }}

                </nav>

            </header>

            <main aria-role="main" class="main d-flex flex-column flex-grow-1 flex-shrink-0 w-100 mx-auto my-auto">
                {{ block "main" . }}
                {{ end }}
            </main>

            <footer class="footer d-none d-sm-block w-100 mx-auto">
                {{ block "footer" . }}
                <div class="container mt-4 text-center">
                    {{ $msg := printf "&copy; %v %v" (now.Format "2006") "| Powered by [Hugo](https://gohugo.io) and [Pragmatic](https://github.com/ma11oc/gohugo-theme-pragmatic)" }}
                    <span class="text-accent">{{ .Site.Params.copyright | default $msg | markdownify }}</span>

                    <nav class="navbar navbar-expand-md mx-auto">
                        <div class="collapse navbar-collapse justify-content-center" id="nav-icons">
                            {{ if .Site.Menus.icons }}
                            <ul class="nav navbar-nav navbar-right">
                                {{ range sort .Site.Menus.icons }}
                                <li class="navbar-icon mx-2">
                                    <a href="{{ .URL }}">
                                        <i class="{{ .Name }}"></i>
                                    </a>
                                </li>
                                {{ end }}
                            </ul>
                            {{ end }}
                        </div>
                    </nav>
                </div>
                {{ end }}
            </footer>
        </div>
    </body>
</html>
