{{ define "main" }}
    <div class="d-flex flex-nowrap mx-auto mb-4">
        <div class="container flex-column">
            <h1>{{ .Title }}</h1>
            <span class="badge badge-secondary text-muted">
                <b>{{ i18n "published" }}:</b> {{ dateFormat "January 2, 2006" .PublishDate }}
            </span>
            <span class="badge badge-secondary text-muted">
                <b>{{ i18n "updated" }}:</b> {{ dateFormat "January 2, 2006" .Lastmod }}
            </span>

            <div class="mt-2">
                {{ if .IsTranslated }}
                    {{ range .Translations }}
                        <a class="badge badge-danger p-2" href="{{ .Permalink }}">
                            <i class="fa fa-lg fa-language"></i>
                            {{ .Lang | upper }}
                        </a>
                    {{ end }}
                {{ end }}
                <span class="badge badge-secondary p-2">
                    <i class="fa fa-file-word"></i>
                    {{ .WordCount }}
                </span>
                <span class="badge badge-secondary p-2">
                    <i class="fa fa-stopwatch"></i>
                    {{ .ReadingTime }}m
                </span>
                {{ if and .Params.github .Params.forkable }}
                <a class="fork-me-on-github badge badge-success p-2" href="{{ .Params.github }}">
                    <i class="fas fa-code-branch"></i>
                </a>
                    {{ if .Params.license }}
                    <span class="badge badge-success p-2">{{ .Params.license }}</span>
                    {{ end }}
                {{ end }}
                {{ range .Params.categories }}
                    <a href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}" class="badge badge-accent p-2">{{ . }}</a>
                {{ end }}
                {{ range .Params.tags }}
                    <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}" class="badge badge-dark p-2">{{ . }}</a>
                {{ end }}

            </div>

            <div class="content flex-column mt-4">
                {{ .Content }}
            </div>
        </div>

        {{ if isset .Params "toc" }}
            <div class="toc flex-column d-none d-lg-block d-print-none">
                {{ $.Page.TableOfContents }}
            </div>
        {{ end }}
    </div>

    <!-- related content -->
    {{ $related := .Site.RegularPages.Related . | first 5 }}

    {{ if $related }}

        <div class="related d-flex flex-column w-100 bg-dark pb-4">
            <div class="container">
                <h1 class="page-header">See also</h4>

                <ul>
                {{ with $related }}
                    {{ range . }}
                    <li>
                        <a class="mr-2" href="{{ .RelPermalink }}">{{ .Title }}</a>

                        {{ range .Params.tags }}
                            <a class="badge badge-dark" href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>
                        {{ end }}

                        <a class="badge badge-accent ml-2" href="{{ $.Site.BaseURL }}/{{ .Section | urlize }}">{{ .Section }}</a>
                    </li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
        </div>

    {{ end }}


    {{ if and .Site.DisqusShortname .Params.commentable }}

        <div class="comments w-100 pb-4">
            <div class="container">
                <h1 class="page-header">Comments</h4>

                {{ template "_internal/disqus.html" . }}
            </div>
        </div>
    {{ end }}
{{ end }}
