{{ define "header" }}
<header class="header w-100">
    <nav class="navbar navbar-dark navbar-expand-md mx-auto d-flex">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-main" aria-controls="nav-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse flex-row" id="nav-main">

            <div class="nav-brand d-flex w-25">
                <ul class="nav navbar-nav">
                    <li class="navbar-item m-1">
                        <a class="nav-link" href="{{ .Site.BaseURL }}">
                            <i class="fas fa-lg fa-laptop-code"></i>
                            {{ .Site.Title }}
                        </a>
                    </li>
                </ul>
            </div>

            <div class="nav-menu d-flex w-50 justify-content-md-center justify-content-sm-start">
                <ul class="nav navbar-nav">
                {{ if .Site.Menus.main }}
                    {{ range sort .Site.Menus.main }}
                    <li class="navbar-item m-1">
                        <a class="nav-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
                    </li>
                    {{ end }}
                {{ else }}
                    {{ range $term, $taxonomy := .Site.Taxonomies }}
                    <li class="nav-item dropdown">
                        {{ with $.Site.GetPage (printf "/%s" $term) }}
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown{{ $term | title }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ $term | title }}</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown{{ $term | title }}">
                            {{ range $key, $value := $taxonomy }}
                            <a class="dropdown-item" href="{{ $.Site.BaseURL }}{{ $term }}/{{ $key }}/">{{ $key }} <span class="badge badge-secondary">{{ $value.Count }}</span></a>
                            {{ end }}
                            </div>
                        {{ end }}
                    </li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>

            <div class="dropdown-divider d-flex"></div>

            <div class="nav-icons d-flex w-25 justify-content-md-end justify-content-sm-start">
                <div class="nav-lang">
                    <ul class="nav navbar-nav">
                    {{ if .Site.IsMultiLingual }}
                        {{ $siteLanguages := .Site.Languages}}
                        {{ $pageLang := .Page.Lang}}
                        {{ range .Page.Translations }}
                            {{ $translation := . }}
                            {{ range $siteLanguages }}
                                {{ if eq $translation.Lang .Lang }}
                                    {{ $selected := false }}
                                    {{ if not (eq $pageLang .Lang)}}
                        <li class="navbar-item m-1">
                            <a class="nav-link badge badge-secondary p-2" href="{{ $translation.RelPermalink }}">
                                <i class="fa fa-language fa-lg"></i>
                                {{ .LanguageName | upper }}
                            </a>
                        </li>
                                    {{ end }}
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    {{ end }}

                        <li class="navbar-item m-1">
                            <a class="nav-link badge badge-secondary p-2" href="{{ $.Site.BaseURL }}index.xml">
                                <i class="fa fa-rss"></i>
                            </a>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </nav>
</header>
{{ end }}
