        <script src="{{ .Site.Params.assets.jquery.src | default "https://code.jquery.com/jquery-3.6.0.min.js" }}" integrity="{{ .Site.Params.assets.jquery.integrity | default "sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" }}" crossorigin="anonymous"></script>
        <script src="{{ .Site.Params.assets.bootstrap.js.src | default "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" }}" integrity="{{ .Site.Params.assets.bootstrap.js.src | default "sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"}}" crossorigin="anonymous"></script>

<!-- MathJax support -->
{{- if .Site.Params.assets.mathjax.enabled | default false }}
    {{- $version := .Site.Params.assets.mathjax.version | default "2.7.5" }}
        <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/{{ $version }}/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{{- end }}


<!-- highlight.js -->
{{- if .Site.Params.assets.highlightjs.enabled | default false }}
    {{- $version := .Site.Params.assets.highlightjs.version | default "9.15.8" }}
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ $version }}/highlight.min.js"></script>
    {{- range .Site.Params.assets.highlightjs.languages }}
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ $version }}/languages/{{ . }}.min.js"></script>
    {{- end }}

        <script>
            $(document).ready(function() {
                $("pre > code").addClass("hljs");
            });
            hljs.initHighlightingOnLoad();
        </script>

{{- end -}}


{{- if .Site.GoogleAnalytics -}}
<!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments)};
            gtag('js', new Date());

            gtag('config', '{{ .Site.GoogleAnalytics }}');
        </script>
{{ end -}}


{{- $scratch := newScratch -}}
{{- $scratch.Add "bundle" (slice (resources.Get "js/scrollspy.js")) }}
{{- $scratch.Add "bundle" (slice (resources.Get "js/filter.js")) }}
{{- if .Site.Params.assets.abcjs.enabled | default false }}
    {{- $scratch.Add "bundle" (slice (resources.Get "js/vendor/abcjs_midi_5.6.11-min.js")) }}
{{ end -}}

{{- $bundle := $scratch.Get "bundle" | resources.Concat "js/bundle.js" }}
{{- $scripts := $bundle | minify | fingerprint }}

        <script src="{{ $scripts.RelPermalink }}"></script>
