{{ $.Scratch.Set "link" .RelPermalink }}
{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") | $.Scratch.Set "subtitle" }}
{{ with .Description }} {{ $.Scratch.Set "subtitle" . }} {{ end }}

<div class="card bg-secondary mb-3">
    <!--img src="{{ .Params.timeline.image }}" class="card-img-top" alt="..."-->
    <div class="card-header">
        <h2 class="card-title"><a href="{{ .Scratch.Get "link" }}">{{ .Title }}</a></h2>
        <span class="badge badge-secondary p-2 mr-1 d-none d-md-inline-flex">
            <b>{{ i18n "published" }}:</b> {{ dateFormat "January 2, 2006" .PublishDate }}
        </span>
        <span class="badge badge-secondary p-2 m-1">
            <b>{{ i18n "updated" }}:</b> {{ dateFormat "January 2, 2006" .Lastmod }}
        </span>
    </div>

    <div class="card-body">
        <div class="card-text">
            {{ with .Description }}
            <blockquote class="blockquote">
                {{ . }}
            </blockquote>
            {{ end }}

            {{ with .Summary }}
            <blockquote class="blockquote">
            {{ . }}
            </blockquote>
            {{ end }}

            {{ if or .Summary .Description }}
            <div class="d-flex justify-content-end mt-4">
                <a href="{{ .Scratch.Get "link" }}" class="btn btn-accent">Read More...</a>
            </div>
            {{ end }}
        </div>
    </div>

    <div class="card-footer">
        <div class="d-flex flex-wrap">
            {{ range .Params.categories }}
                <a href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}" class="badge badge-accent p-2 mr-1">{{ . }}</a>
            {{ end }}
            {{ range .Params.tags }}
                <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}" class="badge badge-dark p-2 mr-1">{{ . }}</a>
            {{ end }}

        </div>
    </div>

</div>
