{{ $.Scratch.Set "link" .RelPermalink }}
{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") | $.Scratch.Set "subtitle" }}
{{ with .Description }} {{ $.Scratch.Set "subtitle" . }} {{ end }}

<div class="item d-flex flex-column w-100 mt-4">
    <h2><a href="{{ .Scratch.Get "link" }}">{{ .Title }}</a></h5>
    <div class="row justify-content-center">
        <span class="text-muted">
            <b class="text-muted">{{ i18n "published" }}:</b> {{ dateFormat "January 2, 2006" .PublishDate }}
        </span>
        <div class="text-muted">&nbsp; | &nbsp;</div>
        <span class="text-muted">
            <b class="text-muted">{{ i18n "updated" }}:</b> {{ dateFormat "January 2, 2006" .Lastmod }}
        </span>
    </div>


    <div class="tags mt-2">
        {{ range .Params.tags }}
            <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}" class="badge badge-dark p-2">{{ . }}</a>
        {{ end }}
    </div>
</div>
