{{ define "main" }}
    <div class="intro d-flex flex-nowrap flex-grow-1 h-100 w-100">
        <div id="carouselIndicators" class="carousel slide carousel-fade d-flex flex-grow-1" data-ride="carousel" data-interval="5000">
            <ol class="carousel-indicators">
                <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselIndicators" data-slide-to="1" class=""></li>
                <li data-target="#carouselIndicators" data-slide-to="2" class=""></li>
                <li data-target="#carouselIndicators" data-slide-to="3" class=""></li>
            </ol>

            <div class="carousel-inner d-flex flex-grow-1 text-center">
                <div class="carousel-item active">
                    <img src="/images/chalkboard.jpg" alt="">
                    <div class="carousel-caption">
                        <h1>Posts</h1>
                        <p>Articles with the purpose to structurize thoughts.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/images/chalkboard.jpg" alt="">
                    <div class="carousel-caption">
                        <h1>Notes</h1>
                        <p>Here is the place for notes. Like in a university. Things I don't want to forget.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/images/chalkboard.jpg" alt="">
                    <div class="carousel-caption">
                        <h1>Snippets</h1>
                        <p>Short snippets of code or something like that.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/images/chalkboard.jpg" alt="">
                    <div class="carousel-caption">
                        <h1>Projects</h1>
                        <p>Public projects with a description and links to appropriate resources.</p>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                <i class="arrow-left fa fa-chevron-left" aria-hidden="true"></i>
                <i class="sr-only">Previous</i>
            </a>

            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                <i class="arrow-right fa fa-chevron-right" aria-hidden="true"></i>
                <i class="sr-only">Next</i>
            </a>
        </div>
    </div>
{{ end }}
